* {
    margin: 0;
    padding: 0;
}
body {
    overflow-x: auto;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 150px;
    background-color: black;
    display: flex;
}

header #logo {

    width: 20%;
    padding: 25px
}

header #menu {
    width: 80%;
 

    padding: 25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#menu ul {
    display: flex;
    gap: 10px;
}
#menu ul li {
    list-style: none;
}

#menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    transition: color 500ms, border 1s, font 250ms;
}

#menu ul li a:hover {
    font-size: 10em;
    color: rgb(228, 17, 112);
    border-bottom: 50px solid rgb(228, 17, 112);
}

/* MAIN - PRINCIPAL */
main {
    padding: 10px;
    background-color: #CCC;
}

.colunas {
    display: flex;
}


/* FOOTER - RODAPÉ */
/* github.com/marciogferreira/fs49_dc */
footer {
    background-color: #333;
    color: white;
    padding: 10px;
    
    display: flex;
}

.coluna-1 {
    width: 100%;
    padding: 15px;
}
.coluna-2 {
    width: 50%;
    padding: 15px;
    
}
.coluna-3{
    /* border: 1px solid white; */
    width: 33.33%;
    padding: 15px;
}