* {
    margin: 0;
    padding: 0;
}
body {
    overflow-x: auto;
}
header {
    height: 150px;
    background-color: #F7F7F7;
    display: flex;
}
header #logo {
    width: 20%;
}
header #menu {
    width: 80%;
}
/* MAIN - PRINCIPAL */
main {
    padding: 10px;
    background-color: #CCC;
}

.colunas {
    display: flex;
}


/* FOOTER - RODAPÉ */
/* github.com/marciogferreira/fs49_dc */
footer {
    background-color: #333;
    color: white;
    padding: 10px;
    
    display: flex;
}

.coluna-1 {
    width: 100%;
    padding: 15px;
}
.coluna-2 {
    width: 50%;
    padding: 15px;
    
}
.coluna-3{
    /* border: 1px solid white; */
    width: 33.33%;
    padding: 15px;
}